@media only screen and (max-width:480px) {

/*  ==================================================================================================== */
/*  START EXTRA SMALL DEVICES, PHONES (MAX-WIDTH:480PX)  =============================================== */
/*  ==================================================================================================== */
		
		
		/*  ============================================================================================ */
		/*  GENERIC STYLES  ============================================================================ */
		/*  ============================================================================================ */
		
		/*body	{ border-top:2rem solid orange; }*/
		
		
		/*  ============================================================================================ */
		/*  ICON STYLES  =============================================================================== */
		/*  ============================================================================================ */
		
		
		/*  ============================================================================================ */
		/*  BOX-CONTENT : BORDER-BOX ELEMENTS  ========================================================= */
		/*  ============================================================================================ */
		
		
		/*  ============================================================================================ */
		/*  PROPERTY SEARCH BAR STYLES  ================================================================ */
		/*  ============================================================================================ */
		
		.listBox { padding: 1.2rem 1.6rem; }
			
		.listBox li {
			font-size: 1.2rem;
			line-height: 3;
		}
		
		.listBox li span { margin:0 0.8rem; }
		
		
		
		/*  ============================================================================================ */
		/*  PROPERTY SEARCH RESULTS ROWS  ============================================================== */
		/*  ============================================================================================ */
		
		.resultsTitle h1 { font-size: 1.4rem; }
		
		/*  ============================================================================================ */
		/*  PROPERTY SEARCH RESULTS OPEN PROPERTY CARD  ================================================ */
		/*  ============================================================================================ */
		
		.colCell.capval::after,
		.colCell.landval::after,
		.colCell.tfa::after,
		.colCell.tlamas::after,
		.colCell.landarea::after {
			position:absolute;
			top:3rem;
			left:0;
			font-size:1rem;
			line-height:1;
			color:rgba(0,0,0,0.38);
			vertical-align:top;
		}
		
		.colCell.capval::after 	 { content:"Capital value"; }
		.colCell.landval::after  { content:"Land value"; }
		.colCell.tfa::after 	 { content:"TFA"; }
		.colCell.tlamas::after   { content:"TLA"; }
		.colCell.landarea::after { content:"Land area"; }
		
		
		/*  ============================================================================================ */
		/*  PROPERTY CARD EXTRA DETAILS DRAWER  ======================================================== */
		/*  ============================================================================================ */
		
		
		/*  ============================================================================================ */
		/*  IMAGE UPLOAD WINDOW  ======================================================================= */
		/*  ============================================================================================ */
				
				
/*  ==================================================================================================== */
/*  END EXTRA SMALL DEVICES, PHONES (MAX-WIDTH:480PX)  ================================================= */
/*  ==================================================================================================== */

}